<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      <%= title %>
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <%- include('../../parcial/styles/global') -%>
  </head>
  

<body>
  <%- include('../sideNav') -%>
  <!-- <h1>
    <%= title %>
  </h1>

  <% if (typeof message=="string" ) { %>
    <h2>
      <%= message %>
    </h2>
    <% } %>

      <p>Welcome to <%= title %>
      </p>
      <form method="post" id="formCivil">
        <label for="biographie">biographie</label>
        <input type="text" value="<%= data.civil.biographie %>" name="biographie" id="biographie">
        <label for="city">city</label>
        <input type="text" value="<%= data.civil.city %>" name="city" id="city">
        <label for="degree">degree</label>
        <input type="text" value="<%= data.civil.degree %>" name="degree" id="degree">
        <label for="firstName">firstName</label>
       
        <label for="phone">phone</label>
       
        <label for="profession">profession</label>
        <input type="text" value="<%= data.civil.profession %>" name="profession" id="profession">
        <label for="profilsPath">profilsPath</label>
        <input type="file" value="<%= data.civil.profilsPath %>" name="profilsPath" id="profilsPath">
        <div>
          <h3>Social</h3>
          <div class="social-js">
            <% data.civil.social.map(function(soc){%>
              <%- include('formFieldsSocial' , {soc : soc}) -%>
                <% }) %>
          </div>

          <div class="moreSocial-js">+</div>
        </div>
        <input type="submit" id="btnSubmit" value="save">
      </form>

      <a href="<%= path.admin %>">retour</a> -->
      <form method="post" id="formCivil" class="main-content position-relative max-height-vh-100 h-100">
        <div class="container-fluid px-2 px-md-4">
          <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
            <span class="mask  bg-gradient-primary  opacity-6"></span>
          </div>
          <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row gx-4 mb-2">
              <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                  <img src="../assets/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                </div>
              </div>
              <div class="col-auto my-auto">
                <div class="h-100">
                  <h5 class="mb-1">
                    Richard Davis
                  </h5>
                  <p class="mb-0 font-weight-normal text-sm">
                    CEO / Co-Founder
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                <div class="nav-wrapper position-relative end-0">
                  <ul class="nav nav-pills nav-fill p-1" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                        <i class="material-icons text-lg position-relative">home</i>
                        <span class="ms-1">App</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <div class="col-12 col-xl-4">
                  <div class="card card-plain h-100">
                    <div class="card-header pb-0 p-3">
                      <h6 class="mb-0">Platform Settings</h6>
                    </div>
                    <div class="card-body p-3">
                      <h6 class="text-uppercase text-body text-xs font-weight-bolder">Account</h6>
                      <ul class="list-group">
                        <li class="list-group-item border-0 px-0">
                          <div class="form-check form-switch ps-0">
                            <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
                            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Email me when someone follows me</label>
                          </div>
                        </li>
                      </ul>
                      <h6 class="text-uppercase text-body text-xs font-weight-bolder mt-4">Application</h6>
                      <ul class="list-group">
                        <li class="list-group-item border-0 px-0">
                          <div class="form-check form-switch ps-0">
                            <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault3">
                            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault3">New launches and projects</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-4">
                  <div class="card card-plain h-100">
                    <div class="card-header pb-0 p-3">
                      <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                          <h6 class="mb-0">Profile Information</h6>
                        </div>
                        <div class="col-md-4 text-end">
                          <a href="javascript:;">
                            <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-3">
                      <textarea class="text-sm" name="biographie" id="biographie" cols="30" rows="10"><%= data.civil.biographie %></textarea>
                      <hr class="horizontal gray-light my-4">
                      <ul class="list-group">
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">First Name:</strong> &nbsp; <input type="text" value="<%= data.civil.firstName %>" name="firstName" id="firstName"></li>
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Name:</strong> &nbsp; <input type="text" value="<%= data.civil.name %>" name="name" id="name"></li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp;  <input type="text" value="<%= data.civil.phone %>" name="phone" id="phone"></li>
                        
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; alecthompson@mail.com</li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Location:</strong> &nbsp; <input type="text" value="<%= data.civil.city %>" name="city" id="city"></li>
                        <li class="list-group-item border-0 ps-0 pb-0">
                          <strong class="text-dark text-sm">Social:</strong> &nbsp;
                          <a class="btn btn-facebook btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                            <i class="fab fa-facebook fa-lg"></i>
                          </a>
                          <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                            <i class="fab fa-twitter fa-lg"></i>
                          </a>
                          <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                            <i class="fab fa-instagram fa-lg"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-4">
                  <div class="card card-plain h-100">
                    <div class="card-header pb-0 p-3">
                      <h6 class="mb-0">Conversations</h6>
                    </div>
                    <div class="card-body p-3">
                      <ul class="list-group">
                        <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                          <div class="avatar me-3">
                            <img src="../assets/img/kal-visuals-square.jpg" alt="kal" class="border-radius-lg shadow">
                          </div>
                          <div class="d-flex align-items-start flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Sophie B.</h6>
                            <p class="mb-0 text-xs">Hi! I need more information..</p>
                          </div>
                          <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;">Reply</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-4">
                  <div class="mb-5 ps-3">
                    <h6 class="mb-1">Projects</h6>
                    <p class="text-sm">Architects design houses</p>
                  </div>
                  <div class="row">
                    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                      <div class="card card-blog card-plain">
                        <div class="card-header p-0 mt-n4 mx-3">
                          <a class="d-block shadow-xl border-radius-xl">
                            <img src="../assets/img/home-decor-1.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                          </a>
                        </div>
                        <div class="card-body p-3">
                          <p class="mb-0 text-sm">Project #2</p>
                          <a href="javascript:;">
                            <h5>
                              Modern
                            </h5>
                          </a>
                          <p class="mb-4 text-sm">
                            As Uber works through a huge amount of internal management turmoil.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
</body>


<%- include('../../parcial/javascript/global') -%>
  <script>
    $(document).ready(function () {
      var formSocial = `<%- include('formFieldsSocial' , {soc : {name : "",value: ""}}) -%>`
      $('.moreSocial-js').click(function (e) {
        $('.social-js').append(formSocial)
      });

      $('.removeSocial-js').click(function (e) {
        $(this).parent().remove()
      });

      $('#formCivil').submit(function (e) {
        e.preventDefault();
        let data = new FormData(document.getElementById('formCivil'));
        console.log(data.get('profilsPath'));
        data.append("_id", "<%= data._id %>");
        $.ajax({
          type: "POST",
          enctype: 'multipart/form-data',
          url: "http://localhost:3000/admin/civils",
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          timeout: 800000,
          success: function (data) {
            console.log("SUCCESS : ", data);
            $("#btnSubmit").prop("disabled", false);
          },
          error: function (e) {
            console.log("ERROR : ", e);
            $("#btnSubmit").prop("disabled", false);
          }
        });

      })
    })
  </script>

</html>