<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <%- include('../../parcial/styles/global') -%>
</head>


<body>
  <%- include('../sideNav') -%>
    <div class="main-content position-relative max-height-vh-100 h-100">
      <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
          style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
          <span class="mask  bg-gradient-primary  opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
          <div class="row gx-4 mb-2">
            <div class="col-auto">
              <div class="avatar avatar-xl position-relative">
                <img src="../assets/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
              </div>
            </div>
            <div class="col-auto my-auto">
              <div class="h-100">
                <h5 class="mb-1">
                  <%= data.civil.name %> <%= data.civil.firstName %>
                </h5>
                <p class="mb-0 font-weight-normal text-sm">
                  <%= data.civil.profession %>
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
              <div class="nav-wrapper position-relative end-0">
                <ul class="nav nav-pills nav-fill p-1" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" href="<%= path.admin %>">
                      <i class="material-icons text-lg position-relative">home</i>
                      <span class="ms-1">home</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <form method="post" id="formCivil" class="row">
              <input class="d-none" type="file" name="profilsPath" id="profilsPath">
              <div class="col-12 col-xl-4">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Platform Settings</h6>
                  </div>
                  <div class="card-body p-3">
                    <div class="social-js">
                      <% data.civil.social.map(function(soc){%>
                        <%- include('formFieldsSocial' , {soc : soc}) -%>
                          <% }) %>
                    </div>
                    <button type="button" class="btn btn-primary btn-fab btn-fab-mini btn-round moreSocial-js">+</button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-4">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <div class="row">
                      <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Profile Information</h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-3">
                    <div class="input-group input-group-outline mb-3">
                      <textarea class="text-sm form-control" name="biographie" id="biographie" cols="30"
                        rows="10"><%= data.civil.biographie %></textarea>
                    </div>
                    <hr class="horizontal gray-light my-4">
                    <ul class="list-group">
                      <li class="input-group input-group-outline mb-3">
                        <strong class="text-dark d-flex align-items-center">First Name:</strong>&nbsp;
                        <input type="text" class="form-control" value="<%= data.civil.firstName %>" name="firstName"
                          id="firstName">
                      </li>
                      <li class="input-group input-group-outline mb-3">
                        <strong class="text-dark d-flex align-items-center">Name:</strong> &nbsp;
                        <input type="text" class="form-control" value="<%= data.civil.name %>" name="name" id="name">
                      </li>
                      <li class="input-group input-group-outline mb-3"><strong
                          class="text-dark d-flex align-items-center">Mobile:</strong> &nbsp;
                        <input class="form-control" type="text" value="<%= data.civil.phone %>" name="phone" id="phone">
                      </li>

                      <li class="input-group input-group-outline mb-3"><strong
                          class="text-dark d-flex align-items-center">Email:</strong> &nbsp;
                        <input type="text" class="form-control" value="<%= data.userName %>" name="email" id="email">
                      </li>
                      <li class="input-group input-group-outline mb-3"><strong
                          class="text-dark d-flex align-items-center">Location:</strong> &nbsp;
                        <input class="form-control" type="text" value="<%= data.civil.city %>" name="city" id="city">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-4">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Conversations</h6>
                  </div>
                  <div class="card-body p-3">
                    <ul class="list-group">
                      <li class="input-group input-group-outline mb-3">
                        <strong class="text-dark d-flex align-items-center">Degree:</strong>&nbsp;
                        <input type="text" class="form-control" value="<%= data.civil.degree %>" name="degree"
                          id="degree">
                      </li>
                      <li class="input-group input-group-outline mb-3">
                        <strong class="text-dark d-flex align-items-center">profession:</strong> &nbsp;
                        <input type="text" class="form-control" value="<%= data.civil.profession %>" name="profession"
                          id="profession">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <input type="submit" class="btn bg-gradient-dark" value="save">
              </div>
            </form>          
          </div>
        </div>
      </div>
    </div>
</body>


<%- include('../../parcial/javascript/global') -%>
  <script>
    $(document).ready(function () {
      var formSocial = `<%- include('formFieldsSocial' , {soc : {name : "",value: ""}}) -%>`
      $('.moreSocial-js').click(function (e) {
        $('.social-js').append(formSocial)
        $('.removeSocial-js').click(function (e) {
          $(this).parent().remove()
      });
      });

      $('.removeSocial-js').click(function (e) {
        $(this).parent().remove()
      });

      $('#formCivil').submit(function (e) {
        e.preventDefault();
        let data = new FormData(document.getElementById('formCivil'));
        data.append("_id", "<%= data._id %>");
        $.ajax({
          type: "POST",
          enctype: 'multipart/form-data',
          url: "http://localhost:3000/admin/civils",
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          timeout: 800000,
          success: function (data) {
            console.log("SUCCESS : ", data);
            $("#btnSubmit").prop("disabled", false);
          },
          error: function (e) {
            console.log("ERROR : ", e);
            $("#btnSubmit").prop("disabled", false);
          }
        });

      })
    })
  </script>

</html>