<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../parcial/styles/global') -%>
  </head>
  <body>
    <%- include('../parcial/header') -%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>



    <%- include('../parcial/javascript/global') -%>
  </body>
</html>
