<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <% data.map(function(portfolio) { %>
            <%= portfolio.usprTitle %>
            <a href="/admin/portfolio/delete/<%= portfolio.id %>">delete</a>
            <a href="/admin/portfolio/edit/<%= portfolio.id %>">edit</a>
        <% }) %>
    </ul>

    <a href="/admin/portfolio/add">ajouter</a>
    <a href="/admin">retour</a>
  </body>
</html>
